section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #F5B7B1;
}
section h1 {
	/* <length> values */
shape-margin: 10px;
shape-margin: 20mm;
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}
